<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        {% for msg in messages %}
        {{ msg }}
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username:</label>
            <input type="text" name="username" placeholder="Enter the user name">

            <label for="">Password:</label>
            <input type="password" name="password" placeholder="Enter the password">

            <input type="submit" value="Login">
            <br><br>
            <p>New user <a href="{% url 'register' %}">Create Account</a></p>

        </form>
    </body>
</html>