<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Title</title>
        
    </head>
    <body>
        {% for msg in messages %}
        {{ msg }}
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter the user name" required><br>


            <label for="">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter the password" required><br>

            <label for="">Confirm Password:</label>
            <input type="password" name="password2" id="password2" placeholder="Confirm password" required><br>

            <input type="submit" value="Register" onclick="showAlert()"><br>
        </form>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>