{% extends 'admin/index.html' %}
{% load static %}
{% block content %}

<!--<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
    </head>
    <body>

        <h1>Delete book {{ book.title }}</h1>
        <form action="" method="post">
{% csrf_token %}

<h2>Are you sure
</h2><br>
<input type="submit" value="confirm delete">
        </form>

    </body>
</html>-->


<h1>Delete book {{ book.title }}</h1>
<form action="" method="post">
{% csrf_token %}

<h2>Are you sure
</h2><br>
<input type="submit" value="confirm delete"><br>
</form>

{%endblock%}