
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>User view</title>
    </head>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<body>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Book name</th>
                <th scope="col">Book price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
{% if books %}
{% for book in books %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td><a href="{% url 'details' book.id %}" type="submit" class="btn btn-primary">Details</button>

        </tr>
{% endfor %}
{% endif %}
            
            </tbody>
          </table>



          <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{page.previous_page_number}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              {% for num in page.paginator.page_range %}

              <li class="page-item {% if page_number == num %}activate{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>

              {% endfor %}

              {% if page.has_next%}
              <li class="page-item">
                <a class="page-link" href="?page={{page.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </body>
</html>